@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?t9ytnm') format('truetype'),
    url('fonts/icons.woff?t9ytnm') format('woff'),
    url('fonts/icons.svg?t9ytnm#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e906";
  position: absolute;
  left: 0;
  top: 10px;
}
.icon-envelop:before {
  content: "\e945";
  position: absolute;
  left: 0;
  top: 10px;
}
.icon-location:before {
  content: "\e947";
  position: absolute;
  left: 0;
  top: 10px;
}
.icon-facebook:before {
  content: "\ea91";
  position: absolute;
  left: 0;
  top: 10px;
}
.icon-github:before {
  content: "\eab0";
  position: absolute;
  left: 0;
  top: 10px;
}
.icon-linkedin:before {
  content: "\eac9";
  position: absolute;
  left: 0;
  top: 10px;
}
